= simple_form_for(@tournament) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :instructions
    = f.input :starts_at
    = f.input :ends_at

  .form-actions
    = f.button :submit
