.page-header
  %h1= competition.name
  %table.table.table-striped
    %thead
      %tr
        %th Competition
        %th Round
        %th Milliseconds elapsed
        %th Player
        %th Opponent
        %th Winner
        %th
    %tbody
      - competition.matches.each do |match|
        %tr
          %td= match.competition_name
          %td= match.round
          %td= match.milliseconds_elapsed
          %td= match.player_name
          %td= match.opponent_name
          %td= match.winner_name
          - unless match.winner_id
            %td= link_to 'Record', edit_match_path(match, :type => match.type), :class => "btn btn-success btn-small"
          - else
            %td.muted Recorded
    %hr
    - unless competition.matches.where(:winner_id => nil).count > 0
      - if browser.ie6? || browser.ie7? || browser.ie8?
        -# IE 8 < fallback
        = image_tag(Competition.find(competition).graph_fallback_url)
      - else
        %embed{:type=> "image/svg+xml", :src=> Competition.find(competition).graph_url, :style => "width:1150px;height:700px;"}